body p,
a,
th,
.text-size {
  font-size: 20px;
}

.navbar-new {
  background-color: #228b22;
}

.img-new {
  border-radius: 50%;
  object-fit: fit;
}

.div-jumbotron-new {
  margin-top: 48px;
}

.div-card-new {
  width: 650px;
  border: none;
}

.div-margin-bottom {
  margin-bottom: 80px;
}

.div-card-program {
  display: flex;
  justify-content: center;
}

.card-width {
  width: 18rem;
}

.padding-bottom {
  padding-bottom: 20px;
}

.div-gallery-width {
  width: 28rem;
}

.div-info {
  border-top: 3px solid #ddd;
}

.div-justify-left {
  display: flex;
  justify-content: left;
}

.div-card-border {
  width: 18rem;
  border: none;
}

.h-info {
  padding-bottom: 20px;
  text-align: center;
}

.p-text-align {
  text-align: justify;
}

.footer-background {
  border-top: 3px solid #ddd;
  background-color: #f0f4f6;
}

.footer-width {
  width: 18rem;
  border: none;
  background-color: #f0f4f6;
}

.tentang {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 80px;
}

.tengah {
  width: 650px;
  padding: 10px;
}

.footer {
  margin: 20px 0px 20px;
}

.tabel {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.pad-left {
  padding-left: 10px;
  width: 350px;
}

.ijo {
  display: flex;
  justify-content: flex-start;
  padding: 0px 5px;
  color: #228b22;
}

.ijo:hover,
.ijo-link:hover,
.hov:hover {
  color: #7fbc94;
}

.putih:hover {
  color: white;
}

a {
  text-decoration: none;
  color: #228b22;
}

.copyright {
  background-color: #868e89;
  padding: 15px 0px 1px;
  text-align: center;
}

.design {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px 5px;
}

/* css pop up */
.container-popup {
  text-align: center;
  margin-top: 50px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 81, 20, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 20px;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  max-width: 80%;
  padding: 20px;
}

.popupx {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 65px;
  margin: 0;
  padding: 10px;
  background-color: #acafac;
  color: #000;
}

.popup h3 {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.popup p {
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.cek {
  margin-bottom: 16px;
}

.bttn {
  background-color: #228b22;
  width: 100px;
  padding: 8px 6px;
  border-radius: 5px;
}

.bttn a {
  text-decoration: none;
  color: #fff;
}

.bttn:hover {
  background-color: #7fbc94;
}

.bttn-container {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}
