* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.navigasi {
  background-color: #228b22;
  padding: 20px 20px 20px 60px;
  color: white;
}

.antrian {
  padding: 20px;
}

.tabel {
  width: 100%;
  table-layout: fixed;
  padding: 5px;
}

th, td{
  border: 1px solid black;
  text-align: center;
  padding: 4px;
}

.backtohome{
  margin-top: 20px;
  margin-left: 20px;
}

.backtohome a {
  text-decoration: none;
  color: white;
  background-color: #228b22;
  padding: 4px 6px;
  border-radius: 5px;
}

@media (max-width: 665px) {
  th,
  td {
    font-size: 16px;
  }
  .backtohome a{
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  th,
  td {
    font-size: 14px;
  }

  .antrian {
    padding: 20px 5px;
  }
}

@media (max-width: 430px) {
  th,
  td {
    font-size: 10px;
  }

  .antrian {
    padding: 20px 5px;
  }
}

@media (max-width: 300px) {
  th,
  td {
    font-size: 8px;
  }

  .antrian {
    padding: 20px 5px;
  }
  
}
