<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TPQ Al-Baidhowi >> Antrian</title>
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='style/antrian.css')}}" />
  </head>
  <body>
    <nav class="navigasi">
      <p>Daftar Antrian Santri</p>
    </nav>

    <div class="backtohome"><a href="/">Beranda</a></div>

    <div class="antrian">
      <table class="tabel" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>TTL</th>
            <th>Jenis Kelamin</th>
            <th>Alamat</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for p in santri %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{p.nama}}</td>
            <td>{{p.ttl}}</td>
            <td>{{p.jenis_kelamin}}</td>
            <td>{{p.jadwal}}</td>
            <td>{{p.tahunan}}</td>
            <td>{{p.spp}}</td>
            <td>{{p.ayah}}</td>
            <td>{{p.job_ayah}}</td>
            <td>{{p.ibu}}</td>
            <td>{{p.job_ibu}}</td>
            <td>{{p.alamat}}</td>
            <td>{{p.no_hp}}</td>
            <td><a href="/app/static/uploads{{p.kartu_keluarga}}">Buka</a></td>
            <!-- <td>
              <a href="/{{p.id}}/update">Edit</a>
              <a href="/{{p.id}}/delete">Delete</a>
            </td> -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
