<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TPQ Al-Baidhowi >> Antrian</title>
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='style/antrian.css')}}" />
  </head>
  <body>
    <nav class="navigasi">
      <p>Daftar Antrian Santri</p>
    </nav>

    <div class="backtohome"><a href="/landingpage">Beranda</a></div>

    <div class="antrian">
      <table class="tabel" cellspacing = "0">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>TTL</th>
            <th>Jenis Kelamin</th>
            <th>Alamat</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        <!-- 
            perulangan buat tr
         -->
        </tbody>
      </table>
    </div>



  </body>
</html>
