<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TPQ Al-Baidhowi >> Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style/dashboard.css')}}" />
  </head>
  <body>
    <div class="wrapper">
      <aside id="sidebar">
        <div class="d-flex">
          <button id="toggle-btn" type="button">
            <i class="bi bi-list"></i>
          </button>
          <div class="sidebar-logo">
            <!-- <a href="#">Admin Dashboard</a> -->
          </div>
        </div>
        <ul class="sidebar-nav">
          <li class="sidebar-item">
            <a href="/dashboard" class="sidebar-link">
              <i class="bi bi-house-door-fill"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/showGuru" class="sidebar-link">
              <i class="bi bi-person-video"></i>
              <span>Guru</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="bru">
              <i class="bi bi-person-fill-check"></i>
              <span>Santri</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/update" class="sidebar-link">
              <i class="bi bi-journal-arrow-up"></i>
              <span>Update</span>
            </a>
          </li>
        </ul>
      </aside>

      <div class="main">
        <nav class="navbar navbar-expand px-4 py-3">
          <form action="#" class="d-none d-sm-inline-block">
            <div class="input-group input-group-navbar">
              <input
                type="text"
                class="form-control border-0 rounded-0"
                placeholder="search.."
              />
              <button class="btn border-0 rounded-0" type="button">
                search
              </button>
            </div>
          </form>

          <!-- Example single danger button -->

          <div class="navbar-collapse">
            <div class="navbar-nav ms-auto">
              <a href="/" class="logout">
                <i class="bi bi-box-arrow-right"></i>
                <span id="logout">Logout</span>
              </a>
            </div>
          </div>
        </nav>
        
        <main class="content px-3 py-4">
          <div class="container-fluid">
            <div class="mb-3">
              <h3 class="fw-bold fs-4 mb-3">Edit Data Santri</h3>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xl-12">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="bi bi-bar-chart-line"></i>
                  <span>Edit Data Santri</span>
                </div>
                <div class="card-body new">
                  <div>
                    <form action="/{{santri.id_santri}}/edit/save" method="POST">
                      <table>
                        <thead class="listdata">
                            <div class="col-md-6">
                                <label for="nama" class="form-label">Nama Santri <span>*</span></label>
                                <input type="text" class="form-control" id="nama" name="nama" value="{{santri.nama_santri}}" required />
                                <div class="hidden" id="cek"><span class="text-danger">nama harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-6">
                                <p></p>
                                <label for="ttl" class="form-label">Tempat tanggal lahir <span>*</span></label>
                                <div class="input-group">
                                  <input type="text" class="form-control" id="ttl" name="ttl" value="{{santri.tmpt_lahir_santri}}" required />
                                  <input type="date" class="form-control" name="tgl" id="tgl" value="{{santri.tgl_lahir_santri}}" required />
                                </div>
                                <div class="hidden" id="cek1"><span class="text-danger">ttl harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-6">
                                <p></p>
                                <label for="dadname" class="form-label">Nama Ayah <span>*</span></label>
                                <input type="text" class="form-control" id="dadname" name="dadname" value="{{santri.nama_ayah}}" required />
                                <div class="hidden" id="cek2"><span class="text-danger">nama ayah harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-6">
                                <p></p>
                                <label for="dadkerja" class="form-label">Pekerjaan Ayah <span>*</span></label>
                                <input type="text" class="form-control" id="dadkerja" name="dadkerja" value="{{santri.pekerjaan_ayah}}" required />
                                <div class="hidden" id="cek3"><span class="text-danger">pekerjaan ayah harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-6">
                                <p></p>
                                <label for="momname" class="form-label">Nama Ibu <span>*</span></label>
                                <input type="text" class="form-control" id="momname" name="momname" value="{{santri.nama_ibu}}" required />
                                <div class="hidden" id="cek4"><span class="text-danger">nama ibu harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-6">
                                <p></p>
                                <label for="momwork" class="form-label">Pekerjaan Ibu <span>*</span></label>
                                <input type="text" class="form-control" id="momwork" name="momwork" value="{{santri.pekerjaan_ibu}}" required />
                                <div class="hidden" id="cek5"><span class="text-danger">pekerjaan ibu harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-3">
                                <p></p>
                                <label for="jk" class="form-label">Jenis Kelamin <span>*</span></label>
                                <select name="jk" id="jk" class="form-select width-sel" required>
                                    <option value="" {% if santri.jk_santri == '' %}selected{% endif %}>--pilih--</option>
                                    <option value="L" {% if santri.jk_santri == 'L' %}selected{% endif %}>Laki-laki</option>
                                    <option value="P" {% if santri.jk_santri == 'P' %}selected{% endif %}>Perempuan</option>
                                </select>
                                <div class="hidden" id="cek6"><span class="text-danger">jenis kelamin harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-3">
                                <p></p>
                                <label for="nohp" class="form-label">NO. HP Wali <span>*</span></label>
                                <input type="tel" class="form-control" id="nohp" name="nohp" value="{{santri.no_hp}}" required pattern="(\+62|62|0)8[1-9][0-9]{6,9}$)" />
                                <div class="hidden" id="cek7"><span class="text-danger">no hp harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="col-md-6">
                                <p></p>
                                <label for="alamat" class="form-label">Alamat <span>*</span></label>
                                <textarea type="text" class="form-control" id="alamat" name="alamat" required>{{santri.alamat_santri}}</textarea>
                                <div class="hidden" id="cek8"><span class="text-danger">alamat harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                              </div>
                              <div class="row justify-content-around mt-4 border-top">
                                <div class="col pad-bottom">
                                    <p></p>
                                  <h5>Jadwal Masuk Santri</h5>
                                  <div class="pad">
                                    <label for="jadwal">Jadwal Masuk <span>*</span></label>
                                    <select name="jadwal" class="form-select width-sel" id="jadwal" aria-label="Default select example" required>
                                        <option value="" {% if santri.jadwal == '' %}selected{% endif %}>--Pilih--</option>
                                        <option value="Sore" {% if santri.jadwal == 'Sore' %}selected{% endif %}>Sore</option>
                                        <option value="Malam" {% if santri.jadwal == 'Malam' %}selected{% endif %}>Malam</option>
                                    </select>
                                    <div class="hidden" id="cek9"><span class="text-danger">jadwal harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                                  </div>
                                </div>
                                <div class="col pad-bottom pad">
                                   <p></p>
                                  <h5>Administrasi</h5>
                                  <label for="tahunan">Pemeliharaan bangunan: Rp. 75.000 / Rp. 100.000</label><span>*</span>
                                  <select name="tahunan" id="tahunan" class="form-select width-sel" aria-label="Default select example" required>
                                    <option value="" {% if santri.tahunan == '' %}selected{% endif %}>--Pilih--</option>
                                    <option value="75000" {% if santri.tahunan == '75000' %}selected{% endif %}>Rp. 75.000</option>
                                    <option value="100000" {% if santri.tahunan == '100000' %}selected{% endif %}>Rp. 100.000</option>
                                  </select>
                                  <div class="hidden" id="cek10"><span class="text-danger"> biaya administrasi harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                                  <p></p>
                                  <label for="spp">SPP Bulanan: Rp. 30.000 / Rp. 50.000  </label>
                                    <select name="spp" id="spp" class="form-select width-sel" aria-label="Default select example" required>
                                        <option value="" {% if santri.spp == '' %}selected{% endif %}>--Pilih--</option>
                                        <option value="30000" {% if santri.spp == '30000' %}selected{% endif %}>Rp. 30.000</option>
                                        <option value="50000" {% if santri.spp == '50000' %}selected{% endif %}>Rp. 50.000</option>
                                    </select>
                                  <div class="hidden" id="cek11"><span class="text-danger"> biaya administrasi harus diisi</span><i class="bi bi-exclamation-circle-fill text-danger"></i></div>
                                </div>
                              </div>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                      <button type="submit" name="submit" class="button mt-5">Simpan</button>
                    </form>
                  </div>
                  <canvas id="myBarChart" width="100%" height="40"></canvas>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- POP UP LOGOUT -->
    <div class="popup-overlay" id="popupOverlay">
      <div class="popup">
        <h5>Apakah Anda Yakin?</h5>
        <div class="divide">
        </div>
        <div class="bttn-container">
        <button class="popupx bttn"  id="continueToReg">
          <a href="/">Ya</a>
        </button>

          <button class="popupx" id="closePopupBttn">
            <a href="#">Tidak</a>
          </button>
        </div>
      </div>
    </div>



    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='script/dashboard.js')}}"></script>
  </body>
</html>
