<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TPQ Al-Baidhowi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style.css')}}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm fixed-top navbar-new">
      <div class="container">
        <a class="navbar-brand" href="#tentang">
          <img src="{{url_for('static', filename='images/logo.jpg')}}" alt="Logo" width="50" height="45" class="d-inline-block align-text-center img-new" />
          Yayasan Taajul Huffazh Al-Baidhowi
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active text-size" aria-current="page" href="/">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link putih text-size" href="/pendaftaran">Daftar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link putih text-size" href="/antrian">Antrian</a>
            </li>
            <li class="nav-item">
              <a class="nav-link putih text-size" href="/login"> Login </a>
              <!-- <a
                class="nav-link dropdown-toggle putih text-size"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Login
              </a> -->
              <!-- <ul class="dropdown-menu">
                <li><a class="dropdown-item text-size hov" href="login.html">Admin</a></li>
                <li><a class="dropdown-item text-size hov" href="login.html">Guru</a></li>
                <li><a class="dropdown-item text-size hov" href="login.html">Santri</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item text-size hov" href="#">Bantuan</a></li>
              </ul> -->
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- JUMBOTRON -->
    <div id="carouselExampleAutoplaying div-jumbotron-new" class="carousel slide" data-bs-ride="carousel">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="{{url_for('static', filename='images/jumbotron1.jpg')}}" class="d-block w-100" alt="Foto Wisuda Santri" />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="{{url_for('static', filename='images/jumbotron2.jpg')}}" class="d-block w-100" alt="Foto Wisuda Santri" />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="{{url_for('static', filename='images/jumbotron3.jpg')}}" class="d-block w-100" alt="Foto Wisuda Santri" />
          </div>
        </div>
      </div>
    </div>

    <!-- TENTANG TPQ -->

    <div class="tentang" id="tentang">
      <div class="card text-center div-card-new">
        <h2 class="text-center">Tentang TPQ Al-Baidhowi</h2>
        <p class="text-center">
          Yayasan Taajul Huffazh Al-Baidhowi (dahulu bernama TPQ Al-Baidhowi) didirikan pada Maret 2008 dan saat ini sudah berusia lebih dari 15 tahun. Awalnya TPQ hanya dilakukan di ruang tamu dengan jumlah santri yang sedikit, namun
          seiring bertambahnya jumlah santri, TPQ Al Baidhowi mulai berkembang dan ada pembangunan asrama serta Yayasan Taajul Huffazh Al Baidhowi yang menaungi TPQ, rumah tahfizh, dan majelis ta'lim. Mulai tahun 2013, TPQ Al Baidhowi mulai
          meminta biaya untuk mengikuti kegiatan belajar karena semakin banyak santri dan membutuhkan lebih banyak guru serta mulai menerima program Iqra'.
        </p>
      </div>
    </div>

    <div></div>

    <!-- PROGRAM TPQ -->

    <div class="container div-margin-bottom">
      <div class="row text-center mt-3">
        <div class="col">
          <h2 class="padding-bottom">Program TPQ</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mt-3 div-card-program">
          <div class="card card-width">
            <div class="card-body">
              <h4 class="card-title">Tahfidz Qur'an</h4>
              <p class="card-text">Merupakan program menghafal Al-Qur'an. Santri akan disimak dan menghafal Al-Qur'an oleh guru Tahfidzul Qur'an. Kami juga menerima Asrama / Rumah Tahfidz khusus program dengan</p>
              <a href="#" class="card-link ijo-link">Selengkapnya tentang program</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 div-card-program">
          <div class="card card-width">
            <div class="card-body">
              <h4 class="card-title">Tahsin Al-Qur'an</h4>
              <p class="card-text">Merupakan program membaca Al-Qur'an dengan menerapkan bacaan sesuai kaidah Tajwid dan Makhorijul Huruf yang tepat. Santri akan disimak sekaligus mempelajari ilmu-ilmu Tajwid dasar</p>
              <a href="#" class="card-link ijo-link">Selengkapnya tentang program</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 div-card-program">
          <div class="card card-width">
            <div class="card-body">
              <h4 class="card-title">Iqra'</h4>
              <p class="card-text">Merupakan program membaca Iqra' khusus untuk santri sore. Santri akan disimak dan diajarkan menyebut huruf-huruf Hijaiyah dalam Al-Qur'an sesuai dengan kaidah bacaan Makhorijul Huruf</p>
              <a href="#" class="card-link ijo-link">Selengkapnya tentang program</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- GALERI -->

    <div class="container div-margin-bottom">
      <div class="row text-center mt-3">
        <div class="col">
          <h2 class="padding-bottom">Galeri TPQ</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mt-3 div-card-program">
          <div class="card div-gallery-width">
            <div class="card-body">
              <img src="{{url_for('static', filename='images/poto4.jpg')}}" class="card-img-top img-fluid santri" alt="Foto Santri" title="Foto Santri" />
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 div-card-program">
          <div class="card div-gallery-width">
            <div class="card-body">
              <img src="{{url_for('static', filename='images/poto2.jpg')}}" class="card-img-top img-fluid" alt="Foto Santri" title="Foto Santri" />
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 div-card-program">
          <div class="card div-gallery-width">
            <div class="card-body">
              <img src="{{url_for('static', filename='images/poto3.jpg')}}" class="card-img-top img-fluid" alt="Foto Santri" title="Foto Santri" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- INFORMASI -->

    <div class="div-info">
      <div class="container div-margin-bottom">
        <div class="row div-justify-left">
          <div class="col-md-4 mt-3 div-card-program">
            <div class="card div-card-border">
              <div class="card-body">
                <h2 class="card-title h-info">Informasi</h2>
                <p class="card-text p-text-align">Untuk informasi lebih lanjut, klik link berikut:</p>
                <ul>
                  <li><a href="/antrian" class="card-link ijo-link">Antrian</a></li>
                  <li><a href="/pendaftaran" class="card-link ijo-link">Daftar</a></li>
                  <li><a href="#" class="card-link ijo-link">Santri</a></li>
                  <li><a href="#" class="card-link ijo-link">Bantuan</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-3 div-card-program">
            <div class="card div-card-border">
              <div class="card-body">
                <h2 class="card-title h-info">Santri saat ini</h2>
                <table class="table table-bordered text-center tabel">
                  <thead>
                    <tr>
                      <th scope="col">Sore</th>
                      <th scope="col">Malam</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>131</td>
                      <td>194</td>
                    </tr>
                    <tr>
                      <th scope="row" colspan="2">Total</th>
                    </tr>
                    <tr>
                      <td colspan="2">325</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-3 div-card-program">
            <div class="card div-card-border">
              <div class="card-body">
                <h2 class="card-title h-info">Pengumuman</h2>
                <p class="card-text p-text-align">
                  Presensi Guru dapat dilakukan secara online melalui laman
                  <a class="ijo-link" href="/login">Dashboard</a>. Presensi Santri dilakukan secara offline atau secara langsung.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="footer-background">
      <div class="container footer-border">
        <div class="row div-justify-left">
          <div class="col-md-4 mt-4 div-card-program">
            <div class="card col-md-4 mt-4 footer-width">
              <div class="card-body">
                <a class="navbar-brand" href="#tentang">
                  <img src="{{url_for('static', filename='images/logo.jpg')}}" alt="Logo" width="50" height="45" class="d-inline-block align-text-center footer img-new" />
                  <strong>Yayasan Taajul Huffazh Al-Baidhowi</strong>
                </a>
                <p class="card-text pad-left">
                  Jl. Dr. Soetomo, Kel. Karang Baru, <br />
                  Kec. Selaparang, Kota Mataram <br />
                  NTB 83123
                </p>
                <div class="pad-left ijo">
                  <a href="#"><i class="fa-brands fa-instagram ijo"></i></a>
                  <a href="#"><i class="fa-brands fa-whatsapp ijo"></i></a>
                  <a href="#"><i class="fa-brands fa-facebook ijo"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="copyright">
      <p>
        <small>Copyright &copy 2024 - <span class="design">Yayasan Taajul Huffazh Al-Baidhowi</span></small>
      </p>
    </footer>
  </body>
</html>
